body {
  font-family: "Poppins", sans-serif;
}
h3 {
  color: #0d6efd;
}

.searchbar {
  padding: 20px 0;
  border-radius: 5px;
}
.sunny {
  font-size: 64px;
  color: yellow;
  text-align: left;
}
.current-weather {
  margin: 40px 0;
}
.current-condition {
  font-size: 20px;
  color: #6c7592;
}
.current-city {
  font-size: 36px;
  color: #4a5064;
}
.current-date {
  font-size: 14px;
  color: #4a5064;
}

.current-temperature {
  font-size: 36px;
  color: #4a5064;
  padding: 0;
  margin: 0;
}

.additional-factors {
  font-size: 16px;
  color: #6c7592;
  padding: 10px;
}

.forecast-card {
  border-color: #bddaef;
  text-align: center;
  margin: 10px 0;
}
.forecast-day,
.forecast-temperature {
  font-size: 14px;
  color: #6c7592;
}

.forecast-icon {
  font-size: 30px;
  color: #6c7592;
}
.metric {
  font-size: 12px;
  padding: 4px 8px;
}

.current-button {
  margin: 0 10px;
}
